{% extends 'ppwlabmain/base.html' %}

{% block title %} Main {% endblock %}
{% block content %}
<div class="container" style="margin: 20px auto;">
  <div class="row">
    <div class="col-sm" style="text-align: center; margin: 20px;">
      <a class="btn btn-primary" href="{% url 'ppwstory1:index' %}">Story 1</a>
    </div>
    <div class="col-sm" style="text-align: center; margin: 20px;">
      <a class="btn btn-primary" href="{% url 'ppwstory3:index' %}">Story 3</a>
    </div>
  </div>
</div>
{% endblock %}