{% extends "ppwstory3/base.html" %}

{% block content %}
<h1>{% block title %}{% endblock %}</h1>
<p>{% block date %}{% endblock %}</p>
<div class="post">
    {% block main %}
    {% endblock %}
</div>
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}
{% block buttons %}
<li><a class="btn" href="{% url 'ppwstory3:profile' %}">View Profile</a></li>
<li><a class="btn" href="{% url 'ppwstory3:index' %}">Main Page</a></li>
{% endblock %}