{% extends "ppwstory3/base.html" %}

{% block title %}William's Profile{% endblock %}
{% load static %}
{% block content %}
<h1>My Profile</h1>
<h2>Description</h2>
<p>I love to learn new things, but sometimes I got bored and move on to other things. Learned programming earlier in high school, but I still have much to learn.</p>
<h2>Experience</h2>
<ul>
    <li><b>...</b></li>
</ul>
<h2>Achievements</h2>
<ul>
    <li><b>...</b></li>
</ul>
<h2>Skills</h2>
<ul>
    <li><b>...</b></li>
</ul>

{% endblock %}
{% block sidebar %}
<h2>Contact</h2>
<p>Email: william92@ui.ac.id</p>
<h2>Social Media</h2>
<div style="display: inline-block; margin-bottom: 20px;">
    <img src="{% static 'ppwstory3/img/twitter.png' %}" href="https://twitter.com/hori_75" style="width: 50px; height: 50px;">
    <img alt="linkedin" src="{% static 'ppwstory1/linkedin.png' %}" href="https://www.linkedin.com/in/william-8611851a0/" style="max-width: 59px; max-height: 59px;">
</div>
{% endblock %}
{% block buttons %}
<li><a class="btn" href="{% url 'ppwstory3:index'%}">Main Page</a></li>
{% endblock %}